.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
}

.btnGroup {
  display: flex;
  gap: 20px;
}

.btn {
  width: 60px;
  height: 30px;
  padding: 7px 14px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  background-color: rgb(188, 202, 202);

  cursor: pointer;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: white;
    background-color: #3d7593;
  }
}

.active {
  composes: btn;
  color: white;
  box-shadow: 1px 1px 10px 2px rgb(92, 92, 166);
  background-color: #124560;
}
