.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: #3e324a;
}

.btnGroup {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 7px 14px;
  border: none;
  border-radius: 4px;
  background-color: rgb(188, 202, 202);

  cursor: pointer;

  transition: 250ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 10px 2px rgb(149, 144, 144);
    color: white;
    background-color: #3e324a;
  }
}

.active {
  composes: btn;
  color: white;
  background-color: #3e324a;
}
