.layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header {
  height: 60px;

  background-color: #071b26;
  color: white;
  border-bottom: 2px solid #0889ce;
}

main {
  flex-grow: 1;

  background: linear-gradient(180deg, #071b26, #10508d);
}
