.wrapper {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.text {
  font-size: 16px;
  white-space: nowrap;
  color: aliceblue;

  animation: runText 10s linear infinite;

  @media (min-width: 480px) {
    font-size: 24px;
  }
}

@keyframes runText {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(-120%);
    opacity: 0;
  }
}
