.container {
  width: 1240px;
  margin: 0 auto;
  padding: 30px 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3e324a;
  text-shadow: 1px 1px 5px rgb(237, 223, 223);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.item {
  width: 360px;
  height: auto;
  border: 2px solid rgb(194, 194, 217);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px grey;

  overflow: hidden;

  transition: transform 250ms ease-in-out;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.03);
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px;

  font-size: 20px;
  color: #ffffff;
  background-color: #3e324a;
}
