.container {
  width: 1240px;
  margin: 0 auto;
  padding: 30px 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  color: aliceblue;

  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px 8px black;
  color: #3e324a;
}

.contact {
  display: flex;
  align-items: center;
  gap: 50px;

  width: 800px;
  margin: 0 auto;
  background-color: rgb(196, 214, 229);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 2px 2px 15px 10px #071b26;

  font-size: 30px;
  font-weight: 500;
  color: #3e324a;
  letter-spacing: 0.05em;

  transition: 200ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}
